Makefile
config.log
config.status
config.vars
joy-*.tar
aclocal.m4
autom4te.cache
*.o
*.a
*.la
*.lo
bin/.libs/
bin/Makefile
bin/jfd-anon
bin/joy
bin/joy-anon
bin/joy_api_test
bin/joy_api_test2
bin/str_match_test
bin/unit_test
lib/.libs/
lib/Makefile
libtool
joy_config.h
safe_c_stub/src/.deps/
safe_c_stub/src/.dirstamp
src/.deps/
src/.dirstamp
stamp-h1
