[Unit]
Description=Advanced network flow data capture
Documentation=man:joy(1)
After=network.target

[Service]
ExecStart=/usr/local/bin/joy interface=${INTERFACE} promisc=${PROMISC} daemon=${DAEMON} \
output=${OUTPUT} outdir=${OUTDIR} logfile=${LOGFILE} count=${COUNT} keyfile=${KEYFILE} \
retain=${RETAIN} bidir=${BIDIR} num_pkts=${NUM_PKTS} type=${TYPE} zeros=${ZEROS} \
dist=${DIST} entropy=${ENTROPY} exe=${EXE} tls=${TLS} idp=${IDP} bpf=${BPF} anon=${ANON} \
fingerprint_file_tls=${FINGERPRINT_FILE_TLS} verbosity=${VERBOSITY}
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
