[Unit]
Description=Advanced network flow data capture
Documentation=man:joy(1)
After=network.target

[Service]
ExecStart=/usr/bin/joy $OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
