Source: joy
Maintainer: mcgrew <mcgrew@cisco.com>
Section: misc
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 9), libpcap-dev, libssl-dev

Package: joy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: extract and analyze data features from network flows
