[Unit]
Description=Advanced network flow data capture
Documentation=man:joy(1)
After=network.target

[Service]
Environment=CONFIGFILE=/usr/local/etc/joy/options.cfg

ExecStart=/usr/local/bin/joy -x ${CONFIGFILE}
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
